.nav_bar li:first-child{
    position: relative;
}
.goods{
    width: 100%;
    position: absolute;
    left: -100px;
    display: none;
}

.nav_bar li:hover>.goods{
    display: block;
}

/* 做了更改 */
.slide-phone{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color:white;
    border: 1px solid #ff6700;
    /* border-color: #ff6700; */
    position: absolute;
    left: 0;
    top: 0;

}
.banner>.wrap{
    position: relative;
}
.slide-phone>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;

}
.slide-phone>ul>li>a{
    color: #424242;
}
.slide-phone i{
    float: right;
    margin-right: 20px;
}
.slide-phone>ul>li:hover{
    background-color: #ff6700;
}
.slide-phone li:hover .slide-list{
    display: block;
}
/* 做了更改 */

.nav_bar_list_phone-phone{
    float: left;
    width: 100%;
    height:229px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 141.25px;
    display: none;
    z-index: 10;
}
.nav_bar li:hover>.nav_bar_list_phone-phone{
    display: block;
}
.nav_bar_list_phone-phone li{
    line-height: normal;
    float: left;
    margin-left: 0;
    margin-right: 9px;
}
.nav_bar_list_phone-phone li img{
    border-right: 1px solid #b0b0b0;
}
.nav_bar_list_phone-phone li:last-child img{
    border-right: 0;
}

.nav_bar_list_phone-tv{
    float: left;
    width: 100%;
    height:229px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 141.25px;
    display: none;
    z-index: 10;
}
.nav_bar li:hover>.nav_bar_list_phone-tv{
    display: block;
}
.nav_bar_list_phone-tv li{
    line-height: normal;
    float: left;
    margin-left: 0;
    margin-right: 9px;
}
.nav_bar_list_phone-tv li img{
    border-right: 1px solid #b0b0b0;
}
.nav_bar_list_phone-tv li:last-child img{
    border-right: 0;
}


.white-next span{
    margin: 0.5em;
    color: #e0e0e0;
}
.white-next{
    height: 63px;
    width: 100%;
    box-shadow: 0 3px 5px 0px rgba(0,0,0,0.3);
    background-color: white;
    z-index: 10;
}
.white-next a{
    color: #616161;
}
.white-next-one{
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    color: #424242;
    float: left;
}
.white-next-two{
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 60px;
    color: #616161;
    float: left;
}
.white-next-right{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    color: #616161;
    float: right;
}
.white-next a:hover{
    color: #ff6700;
}

.container-phone{
    width: 100%;
    height: 2600px;
    /* background-color: white; */
    text-align: left;
}
.big-box-left{
    width: 606px;
    height: 2555px;
    padding-top: 45px;
    float: left;
}
.big-box-left img{
    display: none;
}
.big-box-left img.img-active{
    display: block;
}


.big-box-left img{
    width: 560px;
    height: 560px;
    transition: opacity 0.5s ease-in-out;
}

.big-box-right{
    height: 2555px;
    width: 600px;
    float: right;
    padding-top: 45px;
    margin-left:20px;
}
.big-box-right h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: #212121;
}
.big-box-left-text{
    color: #b0b0b0;
    padding-top: 8px;
    line-height:1.5em ;
    font-size: 14px;
}
.big-box-left-text-3{
    color: #b0b0b0;
    padding-top: 8px;
    line-height:2em ;
    font-size: 18px;
    padding-bottom: 15px;
}
.big-box-left-bigbox{
    width: 600px;
    height: 144px;
    border-top:1px solid #e0e0e0 ;
}
.big-box-left-smallbox{
    width: 600px;
    height: 104px;
    background: #fafafa;
    margin-top:20px ;
    border: 1px solid #e0e0e0;
}
.big-box-left-smallbox-text{
    padding-left: 50px;
    padding-top: 30px;
}
.big-box-left-smallbox-text p{
    font-size: 14px;
    color: #333;
}
.big-box-right h3{
    color: #212121;
}
.big-box-right-h3-bigbox{
    width: 600px;
    height: 163px;
    margin-bottom: 40px;
}
.big-box-right-h3-bigbox-2{
    width: 600px;
    height: 163px;
    margin-bottom: 40px;
}
.big-box-right-h3-box{
    line-height: 42px;
    text-align: center;
    float: left;
    width: 292px;
    height: 42px;
    margin-top: 10px;
    margin-right: 12px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    transition: all 0.2s ease;
    color: #b0b0b0;
}

.big-box-right-h3-bigbox li.links-active{
    color: #ff6700;
    border-color: #ff6700;
}
.big-box-right-h3-bigbox-2 li.link-active{
    color: #ff6700;
    border-color: #ff6700;
}
/* .big-box-right-h3-box:first-child{
    border-color: #ff6700;
}
.big-box-right-h3-box>.a:first-child{
    border-color: #ff6700;
} */
.big-box-right-h3-box a{
    line-height: 42px;
    text-align: center;
    float: left;
    width: 292px;
    height: 42px;
}
.big-box-right-h3-box:nth-child(2){
    margin-right: 0px;
}
.big-box-right-h3-box:nth-child(4){
    margin-right: 0px;
}
.big-box-right-h3-box:hover{
    color:#ff6700;
    border-color: #ff6700;
}

/* .big-box-right-h3-box:hover>.link{
    color: #ff6700;
} */
.big-box-right-h3-box a:hover{
    color: #ff6700;
}

.big-box-right-title-2{
    width: 600px;
    height: 18px;
    margin-bottom: 15px;
}
.big-box-right-2-title{
    float: left;
    color: #333;
    font-size: 18px;
    line-height: 18px;
}
.big-box-right-2-title-2{
    float: right;
    color: #333;
    font-size: 18px;
    line-height: 18px;
    color: #ff6700;
}
.big-box-right-title-2 li a{
    color: #ff6700;
}
.big-box-right-box{
    width: 600px;
    height: 83px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1.5px solid #e0e0e0;
    margin-bottom: 30px;
    /* box-sizing: border-box; */
}
.big-box-right-box-2{
    width: 600px;
    height: 83px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1.5px solid #e0e0e0;
    border-left: 1.5px solid #e0e0e0;
    border-right: 1.5px solid #e0e0e0;
    margin-bottom: 0px;
}
.round{
    float: left;
    height: 10px;
    width: 10px;
    border: 1px solid #b0b0b0;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 60px;
}

.big-box-right-box-inside{
    width: 456px;
    height: 83px;
    float: right;
}
.big-box-right-box-inside li h3{
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;

}
.float-left{
    float: left;
}
.xiaofangkuai{
    font-size: 14px;
    display: inline-block;
    font-style: normal;
    border-radius: 20px;
    background-color: #ff6700;
    color: #fafafa;
    padding: 3px;
}
.big-box-right-box-text{
    font-size: 14px;
    height: 18px;
    width: 286px;
    color: #b0b0b0;
    margin-top: 5px;

}
.big-box-right-last{
    margin-top: 5px;
    /* display: inline-block; */
    width: 456px;
    float: left;
}
.big-box-right-box-text-2{
    float: left;
}

.fuwutiaokuan{
    color: #ff6700;
    margin: 0 2px;
    float: left;
}
.big-box-right-last li a{
    color: #ff6700;
}
.big-box-right-text-last{
    float: right;
    margin-right:35px ;
}
.btn-box{
    width: 600px;
    height: 54px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-box-1{
    width: 298px;
    height: 52px;
    float: left;
    border: 1px solid #ff6700;
    margin-right: 20px;
    line-height: 52px;
    text-align: center;
    background-color: #ff6700;
    color: white;
}
.btn-box-1 a{
    width: 298px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    float: left;
    color: white;
}
.btn-box-1 a:hover{
    background-color: #f25807;
    border-color: #f25807;
}
.btn-box-2{
    width: 140px;
    height: 52px;
    border: 1px solid #b0b0b0;
    float: left;
    line-height: 52px;
    text-align: center;
    background-color: #b0b0b0;
    color: white;
    transition: all 0.4s;

}
.btn-box-2 a{
    width: 140px;
    height: 52px;
    line-height: 52px;
    text-align: center;
    float: left;
    color: white;
    transition: all 0.4s;
}
.btn-box-2 a:hover{
    background-color: #757575;
    border-color: #757575;
}
.after{
    width: 600px;
    height: 82.75px;

}
.after-box{
    float: left;
    height: 41px;
    margin-right: 20px;
    line-height: 41px;
    text-align: center;
    background-color: #fff;
    color: #b0b0b0;
}

.after-last{
    width: 100%;
    background-color: #f4f4f4;
    height: 286px;
    padding-bottom: 50px;
    text-align: left;
}
/* .after-last h3{
    margin-bottom: 20px;
    font-size: 33px;
    padding-top: 22px;
    padding-bottom: 22px;
} */
.after-last-title{
    width: 1226px;
    margin-bottom: 20px;
    font-size: 22px;
    padding-top: 22px;
    padding-bottom: 22px;
    float: left;
}
.after-last-text{
    font-size: 14px;
    color: #b0b0b0;
    margin-bottom: 30px;
    line-height: 25px;
}