.header{
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.header_img{
    width: 100%;
    height: 120px;
}


.black_nav{
    background-color: #333;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
   
}
.wrap{
    width: 1226px;
    margin: 0 auto;
}
.black_nav_left{
    float: left;
}
.black_nav_right{
    float: right;
}
.black_nav_left_text{
    float: left;
    color: #424242;
    margin: 0 3.6px;
    position: relative;
    
}
.black_nav a{
    color: #b0b0b0;
}
.black_nav wrap black_nav_right li{
    float: right;
}

.black_nav_span{
    color: #424242;
    margin: 0 3.6px;
}
.download{
    width: 124px;
    height: 0px;
    background-color: #f5f5f5;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    overflow: hidden;
    margin-left: -62px;
    transition: all 0.2s;
    z-index: 10;
}
.black_nav li:hover>.download{
    height: 120px;
}
.stri{
    width: 0;
    height: 0;
    border-bottom: 0px soild #f5f5f5;
    border-left: 8px soild transparent;
    border-right: 8px soild transparent;
    bottom: 0;
    left: 50%;
    margin-left: -8px;
    display: none;
}

.download img{
    width: 100px;
    margin: 12px auto 0;
    z-index: 10;
}
.download p{
    font-size: 14px;
    /* z-index: 11; */
}
.black_nav li{
    position: relative;
}
.cart{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
}
.cart:hover{
    background-color: #f5f5f5;
}
.cart:hover>a{
    color: #ff6700;
}
.cart i{
    font-style: normal;
    margin-left:8px ;
}
.cart-list{
    width: 316px;
    height: 0;
    background: #f5f5f5;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    position: absolute;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
    transition: all 0.2s;
}
.cart:hover>.cart-list{
    height: 100px;
}


.white_nav{
    width: 100%;
    height: 100px;
    background-color: white;
    /* position: relative; */
    border-bottom: 1px solid #e0e0e0;;
} 


.logo{
    width: 55px;
    height: 55px;
    background-color: #ff6700;
    float: left;
    margin: 22.5px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
}
/*这一段要重点学*/
.logo>img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    transition: all 0.2s;
}
.mi-home{
    left: -55px;
}
.mi-logo{
    left: 0;
}
.logo:hover>.mi-home{
    left: 0;
}
.logo:hover>.mi-logo{
    left: 55px;
}
/*这一段*/
.nav_bar{
    width: 800px;
    height: 100px;
    line-height: 100px;
    float: left;
    font-size: 20px;
   
}

.white_nav_left_text{
    float: left;
    color: #424242;
    margin: 0 3.6px;
    padding: 0 10px;
}

.search{
    float: right;
    width: 296px;
    height: 100px;
}
.nav_bar li a:hover{
    color: #ff6700;
}
.search input{
    width: 244px;
    height: 50px;float: right;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-top: 25px;
    padding: 0 10px;
    border-right: 0;
}
.search button{
    width: 52px;
    height: 50px;
    float: right;
    margin-top: 25px;
}
.search button:hover{
    background-color: #ff6700;
    color: white;
}
/*白色导航内容*/
.nav_bar_list_phone{
    float: left;
    width: 100%;
    height:229px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 260px;
    display: none;
    z-index: 10;
}
.nav_bar li:hover>.nav_bar_list_phone{
    display: block;
}
.nav_bar_list_tv{
    float: left;
    width: 100%;
    height:229px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    position: absolute;
    left: 0;
    top: 260px;
    display: none;
    z-index: 10;
}
.nav_bar li:hover>.nav_bar_list_tv{
    display: block;
}
/* .nav_bar li{
    float: left;
} */
.nav_bar_list_phone li{
    line-height: normal;
    float: left;
    margin-left: 0;
    margin-right:9px;
    /* border-right: 1px solid #b0b0b0; */
}
.nav_bar_list_phone li img{
    border-right: 1px solid #b0b0b0;
}
.nav_bar_list_phone li:last-child img{
    border-right: 0;
}

.nav_bar_list_tv li{
    line-height: normal;
    float: left;
    margin-left: 0;
    margin-right: 9px;
}
.nav_bar_list_tv img{
    border-right: 1px solid #b0b0b0;
}
.nav_bar_list_tv li:last-child img{
    border-right: 0;
}

.img_box{
    margin-top: 35px;
}
.nav_bar_list name{
    font-size: 12px;
    color: #333;
}
.nav_bar_list price{
    font-size: 12px;
    color: #ff6700;
}
/*白色导航内容*/

.banner{
    width: 100%;
    
    height: 460px;
    position: relative;
}
.banner img{
    width: 100%;
}
.carousel-images img{
    position: absolute;
    left: 0px;
    width: 100%;
    opacity: 0;
    transition: all 2s;
}
.carousel-images img.active{
    /* display: block;
    transition: opacity 1s ease-in-out; */
    opacity: 1;
}
.button-left{
    position: absolute;
    width: 35px;
    height: 70px;
    background-color: #00000050;
    color: #ccc;
    top: 195px;
    border-radius: 0 5px 5px 0;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    left: 234px;
    border: 0px;
}
.button-right{
    position: absolute;
    width: 35px;
    height: 70px;
    background-color: #00000050;
    color: #ccc;
    top: 195px;
    border-radius: 5px 0 0 5px;
    text-align: center;
    line-height: 70px;
    font-size: 27px;
    right: 0;
    border: 0px;
}
.button-left:hover{
    background-color: #00000050;
    color: #fff;
}
.button-right:hover{
    background-color: #00000050;
    color: #fff;
}
.zhiding{
    position: absolute;
    bottom: 100px;
    right: 100px;
    top: 410px;
}
.zhiding>ul {
    padding: 0;
    margin: 0;
    list-style:none;
}
.zhiding li.z-active{
    opacity: 1;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: white;
    float: left;
    margin-right: 10px;
    color: white;
    background-color:white ;
}

.zhiding li{
    /* list-style: disc; */
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color:#fff ;
    float: left;
    margin-right: 10px;
    opacity: 0.4;
    /* color: #5f5750; */
}
.zhiding li:hover{
    background-color: white;
}


.slide{
    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105,101,101,0.6);
    position: absolute;
    left: 0;
    top: 0;

}
.banner>.wrap{
    position: relative;
}
.slide>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
    padding-left: 30px;
    font-size: 14px;

}
.slide>ul>li>a{
    color: white;
}
.slide i{
    float: right;
    margin-right: 20px;
}
.slide>ul>li:hover{
    background-color: #ff6700;
}

.slide-list{
    height: 460px;
    width: 992px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
    position: absolute;
    top: 0;
    left: 234px;
    transition: all 0.2s;
    display: none;
}
.slide-list ul{
    width: 100%;
}
/*额外*/
.slide-list img{
    width: 60px;
    margin-right: 10px;
}
.slide-list span{
    color: #333;
    font-size: 14px;
}
/*额外*/

.slide-list ul li{
    width: 220px;
    height: 76px;
    float: left;
    padding: 18px 0 18px 20px;
    box-sizing: border-box;
    /* color: #ff6700; */
    /* line-height: 50px; */
}
.slide li:hover .slide-list{
    display: block;
}

.ad{
    width: 100%;
    height: 170px;
    padding: 14px 0;
    border-left-color: white;
}
.ad-aside{
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    float: left;
}
.ad-aside li{
    float: left;
    width: 76px;
    height: 82px;
    padding: 18px;
    box-sizing: border-box;
    opacity: 0.7;
    /* color: white; */
}
.ad-aside p{
    color: white;
}
.ad-aside li i{
    font-size: 24px;
    margin-bottom: 4px;
    display: block;
    color: white;
}
.ad-aside li:hover{
    opacity: 1;
}
.ad-img{
    width: 316px;
    height: 170px;
    margin-left: 14.6px;
    float: left;

}
.ad-img img{
    width: 100%;
}
.content{
    width: 100%;
    background-color: #f1f1f1;
    overflow: hidden;
    padding: 4px 0 12px;
}
/* .phone{
    width: 100%;
} */
.title{
    text-align: left;
    color: #333;
    font-size: 22px;
    line-height: 58px;
    font-weight: 200px;
}
/*做出改变*/
.title-box{
    width: 100%;
    height: 58px;
}
.title-box-left{
    float: left;
    color: #333;
    font-size: 22px;
    line-height: 58px;
    font-weight: 200px;
}
.phone-box-right-list{
    float: left;
    width: 992px;
    height: 614px;
    position: relative;
    top: 58px;
    display: block;
    z-index: 10;
}
.title-box-right li{
    height: 58px;
    width: 50px;
    float: right;
    color: #333;
    font-size: 22px;
    line-height: 58px;
    font-weight: 200px;
    margin-left: 10px;
}
/* .title-box-right li a{
    color: #ff6700;
} */
.title-box li a:hover{
    color: #ff6700;
}
.title-box li:hover>.phone-box-1{
    display: block;
}
.title-box li:hover>.elc-box{
    display: none;
}
.phone-box-1{
    width: 100%;
    height: 614px;
    display: none;
    position: relative;
    right: 1176px;
    z-index: 100;
}
/*做出改变*/
.phone-box{
    width: 100%;
    height: 614px;
}
.phone{
    width: 100%;
}
.phone-box-left{
    float: left;
    width: 234px;
    height: 614px;
}

.phone-box-right{
    float: left;
    width: 992px;
    height: 614px;
}
.item{
    margin-left:14px;
    margin-bottom: 14px;
    width: 234px;
    height: 300px;
    background-color: white;
    padding: 20px 0;
    box-sizing: border-box;
    float: left;
    transition: all 0.2s linear;
} 
.item:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.item-img{
    width: 160px;
    margin-bottom:10px ;

}
.item-name{
    width: 214px;
    height: 21px;
    color: #333;
    line-height: 21px;
    margin: 0 auto 2px;

}
.item-desc{
    width: 214px;
    height: 18px;
    color: #b0b0b0;
    line-height: 18px;
    font-size: 12px;
    margin: 0 auto 10px;

}
.item-price{
    color: #ff6700;
    font-size: 14px;
}
.big-img{
    width: 100%;
    height: 120px;
    margin: 22px 0;
}

.title-box-right li.li-active{
    color: #ff6700;
    border-bottom:3px solid #ff6700 ;
}
.totalbox div.elc-active{
    display: block;
}
.totalbox>div:nth-child(6)>img{
    width: 100%;
    height: 300px;

}
 /* .totalbox item.elc-item>a>img{
    width: 234px;
    height: 300px;
 }
 */

.elc-box{
    width: 100%;
    height: 614px;
    display: none;
}
.elc-item{
    padding: 0;
    margin-left:0 ;
}
.item-price>del{
    color: #b0b0b0;
    margin-left:5px ;
}
.item-last{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;

}
.item-last div{
    width: 234px;
    height: 143px;
    background-color: white;
    transition: all 0.2s linear;
}
.item-last >div:first-child{
    margin-bottom: 14px;
}
.item-last >div:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}


.video-box{
    height: 299px;
    width: 100%;

}
.video-box>div{
    width: 296px;
    height: 285px;
    background-color: white;
    float: left;
    margin-right: 14px;
    margin-bottom: 14px;
    transition: all 0.2s linear;
}
.video-box>:last-child{
    margin-right: 0;
}
.video-box>div:hover{
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.video-img{
    width: 100%;
    height: 180px;
    margin-bottom: 28px;
    border: 2px solid white;
    position: relative;
}
.btn{
    width: 64px;
    height: 40px;
    border-radius: 23px;
    border: 4px solid white;
    position: absolute;
    left:20px;
    bottom: 10px;

}
.sanjiao{
    width: 0;
    height: 0;
    border-left: 16px solid white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin: 10px auto;
}
.video-name{
    color: #333;
    font-size: 14px;
    width: 285px;
    height: 21px;
    margin: 0 auto 6px;

}
.video-desc{
    width: 285px;
    height: 18px;
    margin: 0 auto;
    color: #b0b0b0;
    font-size: 12px;
}
.video-img:hover .btn{
    background: #ff6700;
    border-color: #ff6700;
}


.footer-service{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding:  27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service li{
    float: left;
    width: 20%;
    border-right: 1px solid #b0b0b0;
    box-sizing: border-box;

}
.footer-service li:last-child{
    border-right: 0;
}
.footer-service i{
    font-size: 24px;
    margin-right: 6px;
}
.footer-service a{
    color: #616161;

}
.footer-service a:hover{
    color: #ff6700;
}
.footer-link{
    width: 100%;
    height: 172px;
    padding: 40px 0;

}
.footer-link ul{
    float: left;
    width: 160px;
    text-align: left;
    color: #424242;
    font-size: 14px;
    line-height: 1.25;
}
.footer-link ul a{
    font-size: 12px;
    color: #757575;

}
.footer-link ul li{
    margin-top:10px ;
}
footer-aside{
    width: 250px;
    height: 111px;
    border-left: 1px solid white;
    float: right;
    color: #616161;

}
.footer-aside tel{
    margin-bottom: 5px;
    font-size: 22px;
    line-height: 22px;
    color: #ff6700;
}
.footer-aside time{
    font-size: 12px;
    margin-bottom: 5px;

}
.kefu{
    /* display: block;
    width: 120px;
    height: 30px;  */
    line-height: 30px;
    border: 1px solid #ff6700;
    box-sizing: border-box;
    margin: 0 auto;
    color: #ff6700;
    font-size: 20px;
    transition: all 0.4s;
}
.kefu:hover{
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;

}
.follow{
    font-size: 12px;
    margin-top: 10px;

}
.follow img{
    width: 24px;
    margin-left: 6px;
    position: relative;
    top: 7px;
}



/* 
.container {
    overflow: hidden;
    width: 100%;
    background-color: #f5f5f5;
    
}
.box{
    width: 100%;
}
.box_right{
    float: left;
    height: 614px;
    width: 992px;
}
.box_left{
    float: left;
    height: 614px;
    width: 234px;
    color:pink;
}
.minibox{
    float: left;
    height: 300px;
    width: 234px;
    margin-bottom: 14px;
    margin-left: 14px;
    color: antiquewhite;
}

.item{
    width: 160px;
    margin-top: 20px;
    margin-bottom: 18px;
} */